    <td>#</td>
    <td>
        <input class="form-control" type="text" value="<%= host.domain %>" size="12">
    </td>
    <td>
        <input class="form-control" type="text" value="<%= host.ip %>" size="8">
    </td>
    <td>
        <input class="form-control" type="text" placeholder="search file...">
    </td>
    <td>
        <a class="btn btn-default">Analyze ...</a>
    </td>
    <td>
        <a href="#">...</a>
    </td>
    <td>
        <a href="#">View</a>
    </td>
    <td>
        <a href="#">X</a>
    </td>
