<div class="row-content">
    <div class="col-sm-offset-0.col-sm-12">
        <a class="btn btn-default" id="btnNewHost">New Machine</a>
    </div>
</div>
<div class="row-content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Domain</th>
                <th>IP</th>
                <th>VagrantFile</th>
                <th>Status</th>
                <th>Stats</th>
                <th>Logs</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row-content">
    <div class="col-sm-offset-11 col-sm-1">
        <a class="btn btn-default" id="btnSaveHost">Save</a>
    </div>
</div>

