<form class="form-horizontal">
    <div class="form-group">
        <label for="inputHosts" class="col-sm-11 control-label">
            <input type="text" id="inputHosts" value="" placeholder="Path file hosts" class="form-control">
        </label>
        <div class="col-sm-1">
            <a class="btn btn-default" id="btnAnalyze">Analyze</a>
        </div>
    </div>
</form>
<div class="result-process">
    <span class="message-result">
        Ingrese la ruta de su archivo hosts
    </span>
</div>

