//
   Created by heureka on 30/08/16.
extends layout
block content
    .container
        //h1= title
        form.form-horizontal
            .form-group
                label.col-sm-11.control-label(for='inputHosts')
                    input.form-control(type='text', id='inputHosts', value='#{pathHosts}', placeholder='#{pathHosts ? "": "Path file hosts"}')
                .col-sm-1
                    a.btn.btn-default Analice
            .form-group
                .col-sm-offset-0.col-sm-12
                    a.btn.btn-default New Machine
            if domains.length
              .form-group
                table.table.table-striped.table-hover
                  tr
                    th #
                    th Domain
                    th IP
                    th VagrantFile
                    th Run
                    th Log
                  each d in domains
                    tr
                      td 1
                      td #{d.domain}
                      td #{d.ip}
                      td
                        input.form-control(type='text', placeholder='search file...')
                      td
                        a.btn.btn-default Starting ...
                      td
                        a(href='#') View
              .form-group
                .col-sm-offset-11.col-sm-1
                  a.btn.btn-default Save
            else
              p.description No hay Dominios registrados


